[defaults]
inventory = inventory/hosts.ini
roles_path = roles
host_key_checking = False
retry_files_enabled = False
interpreter_python = auto_silent
# yaml nécessite souvent ansible.posix ; EL9 ansible-core → default
stdout_callback = default
gathering = smart

[inventory]
enable_plugins = host_list, script, auto, yaml, ini
